<!doctype html>
<html lang="en">
<head>
    <%- include('etc/partials/head') %>
</head>
<body>
    <img class="-z-10 h-screen w-full fixed top-0 object-cover" src="/assets/img/home-bg.jpg" alt="background <%= site_title %>">
    
    <main class="min-h-screen w-full bg-white/80 backdrop-blur-sm dark:bg-gray-800/90 flex flex-col justify-center items-center p-4">
        <div class="flex flex-col items-center justify-center gap-2 text-gray-700 dark:text-gray-200 bg-white/90 p-6 rounded-xl border border-gray-200 shadow-lg dark:bg-gray-800/90 dark:border-gray-700 w-full max-w-xl">
			<div class="w-full flex justify-between">
				<a href="/" class="hover:scale-105 text-gray-800">
					<i class="fa-brands fa-github text-2xl"></i>
				</a>
				<button id="dark-mode-toggle" class="hover:scale-105">
					<i id="dark-mode-icon" class="text-amber-500 fas fa-sun transition-colors duration-300 text-2xl"></i>
				</button>
			</div>
			<header class="flex flex-col gap-2">
				<img class="h-52 w-auto m-auto obeject-cover" src="/assets/img/danied.png" alt="Employees Manager">
				<p class="text-center text-gray-600 dark:text-gray-300 max-w-sm m-auto">
					You do not have permission to access this resource.
				</p>
			</header>
			<div class="flex gap-2 items-center mt-9">
				<a href="/" class="px-4 py-2 rounded bg-blue-600 hover:bg-blue-500 text-white">
					Go Back Home
				</a>
			</div>
        </div>
		<%- include('etc/components/footer') %>
    </main>
    <%- include('etc/partials/script') %>
</body>
</html>
