<footer class="mt-12">
	<p class="text-center text-gray-600 dark:text-gray-300">
		©<script>document.write(new Date().getFullYear());</script> <a href="https://i-as.dev/" class="text-pink-600 dark:text-pink-500 font-semibold">I-As.Dev</a>. All Rights Reserved.
	</p>
</footer>